@using www.otoparcabul.com.Models;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    Category Kategori = ViewData["Kategori"] as Category;
    List<Product> Urunler = ViewData["Urunler"] as List<Product>;
}
<h5>@Kategori.Name Kategorisindeki Ürünler</h5>
@if (Urunler.Count == 0)
{
    <span class="no_content clearfix">Bu kategoride görüntülenecek ürün bulunmamaktadır.</span>
}
else
{
    <ul class="display">
    @foreach (var Urun in Urunler)
    {
        <li>@Html.Partial("ProductItem", Urun)</li>
    }
    </ul>
}

<script type="text/javascript">
    $(document).ready(function () {
        $("a.switch_thumb").toggle(function () {
            $(this).removeClass("swap");
            $("ul.display").fadeOut("fast", function () {
                $(this).fadeIn("fast").addClass("thumb_view");
            });
        }, function () {
            $(this).addClass("swap");
            $("ul.display").fadeOut("fast", function () {
                $(this).fadeIn("fast").removeClass("thumb_view");
            });
        });
    });
</script>