@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1 class="page_head mb10">Kullanım Koşulları</h1>
<label>1.    SITE KULANIM KOŞULLARI SÖZLEŞMESİNİN TARAFLARI, KONUSU VE KAPSAMI</label>

<p>1.1. Bu internet sitesini (Kısaca "SITE" olarak anılacaktır) kullanmak için lütfen aşağıda yazılı koşulları okuyunuz. Bu koşulları kabul etmediğiniz taktirde "SITE"yi kullanmaktan vazgeçiniz. "SITE" sahibi bu "SITE"da yer alan veya alacak olan bilgileri, formları, içeriği, "SITE"ı ve "SITE" kullanım koşullarını dilediği zaman değiştirme hakkını saklı tutmaktadır.</p>

<p>1.2. Bu "SITE"ın sahibi Esentepe Mah. Kartal Oto Sanayi Sit C1 Blok No:31 Kartal/İSTANBUL adresinde mukim OTOPARCABUL BİLGİ TEKNOLOJİLERİ PAZARLAMA VE TİCARET A.Ş. (Bundan böyle kısaca "OTOPARCABUL" olarak anılacaktır)’dir. "SITE"da sunulan ve işbu sözleşmenin 3. Maddesinde belirtilen hizmetler OTOPARCABUL BİLGİ TEKNOLOJİLERİ PAZARLAMA VE TİCARET A.Ş. tarafından sağlanmaktadır.</p>

<p>1.3. Bu "SITE"’da sunulan hizmetlerden belirli bir bedel ödeyerek yada bedelsiz olarak yararlananlar veya herhangi bir şekilde "SITE"ye erişim sağlayan her gerçek ve tüzel kişi aşağıdaki kullanım koşullarını kabul etmiş sayılmaktadır. İşbu sözleşme içinde belirtilen koşulları "OTOPARCABUL" "KULLANICI"ya herhangi bir ihbarda ve bildirimde bulunmadan dilediği zaman değiştirebilir. Bu değişiklikler periyodik olarak "SITE"da yayımlanacak ve yayımlandığı tarihte geçerli olacaktır. "OTOPARCABUL" tarafından işbu sözleşme hükümlerinde yapılan her değişikliği "SITE" hizmetlerinden yararlanan ve "SITE"a erişim sağlayan her gerçek ve tüzel kişi önceden kabul etmiş sayılmaktadır.</p>

<p>1.4. İşbu "SITE Kullanım Koşulları" 27.07.2011 tarihinde en son değişiklik yapılarak (Sürüm 1.0) ve internet sitesi üzerinden yayınlanarak; "SITE"ı kullanan her kişi tarafından erişimi mümkün kılınıp yürürlüğe konmuştur.  İşbu "Site Kullanım Koşulları" ayrıca, "OTOPARCABUL" hizmetlerinden belli bir bedel ödeyerek veya ödemeden yararlanacak olan kullanıcılarla yapılmış ve/veya yapılacak olan her türlü "Üyelik Sözleşmesi"nin de ayrılmaz bir parçasıdır.</p>

<label>2. TANIMLAR</label>

<p>2.1. SİTE         : "OTOPARCABUL" tarafından belirlenen çerçeve içersinde çeşitli hizmetlerin ve içeriklerin sunulduğu çevrimiçi (on-line) ortamdan www.otoparcabul.com ana alan adından ve bu alan adına bağlı alt alan adlarından erişimi mümkün olan internet sitesi.</p>

<p>2.2. KULLANICI     : "SITE"a ve/veya "OTOPARCABUL VERİTABANI"na çevrimiçi (on-line) ortamdan erişen her gerçek ve tüzel kişi.</p>

<p>2.3. LİNK        : "SITE" üzerinden "SITE" içerisine veya bir başka internet sitesine, dosyalara, içeriğe veya başka bir internet sitesinden "SITE"a, dosyalara ve içeriğe erişimi mümkün kılan bağlantı.</p>

<p>2.4. İÇERİK        :  "SITE"dan yayınlanan veya erişimi mümkün olan her türlü bilgi, yazı, dosya, resim, video, rakam v.b görsel, yazınsal ve işitsel imgeler.</p>

<p>2.5. "OTOPARCABUL ARAYÜZÜ" : Başta "ÜYE"ler tarafından oluşturulan içeriğin "KULLANICILAR" tarafından görüntülenebilmesi ve "OTOPARCABUL VERİTABANI"ından sorgulanabilmesi amacıyla "KULLANICILAR" tarafından kullanılan; 5846 Sayılı Fikir ve Sanat Eserleri Kanunu kapsamında korunan ve tüm fikri hakları "OTOPARCABUL"e ait olan tasarımlar içerisinde "SITE" üzerinden yapılabilecek her türlü işlemin gerçekleştirilmesi için bilgisayar programına komut veren internet sayfaları.</p>

<p>2.6.  OTOPARCABUL VERİTABANI : "SITE" dahilinden erişilen içeriklerin depolandığı, tasnif edildiği, sorgulanabildiği ve erişilebildiği "OTOPARCABUL"e ait olan 5846 Sayılı Fikir ve Sanat Eserleri Kanunu gereğince korunan veritabanı.</p>

<p>2.7. "ÜYE"         : "OTOPARCABUL" tarafından sunulan özel nitelikli hizmetlerden, "OTOPARCABUL" tarafından "SITE" üzerinde tanımlanan "ÜYE"lik sürecini tamamlayarak; "OTOPARCABUL"in elektronik ortamda verdiği onay neticesinde yararlanan ve bu hizmetlere özel olarak hazırlanmış sözleşmeleri "ÜYE"lik kayıt süreci içerisinde verdiği elektronik onayla kabul eden her gerçek ve/veya tüzel kişi "KULLANICI".</p>

<p>2.8.  "ÜYE SÖZLEŞMESİ"  : "SITE" dahilinde "OTOPARCABUL" tarafından sunulan özel nitelikteki hizmetlerden yararlanma koşullarını belirten; "OTOPARCABUL" ile "ÜYE" arasında  üyelik kayıt sürecinde "ÜYE"nin elektronik olarak verdiği onay neticesinde elektronik ortamda akdedilen işbu site kullanım koşullarının ayrılmaz bir parçası olan elektronik sözleşme. "OTOPARCABUL", "ÜYE SÖZLEŞMESİ"ni farklı üyelik ve/veya hizmet gruplarına göre kategorize ederek farklı isimlerle "ÜYE"nin onayına sunabilir. Bu durumda "ÜYE" olacak kişi; almak istediği hizmetlere göre; o hizmetleri düzenleyen sözleşmelerden seçtiği hizmetle ilgili olanı kabul etmiş olmaktadır.</p>

<label>3. OTOPARCABUL HİZMETLERİ</label>

<p>3.1. "OTOPARCABUL", "ÜYE"ler tarafından "OTOPARCABUL VERİTABANI"na yüklenen içeriklerin "KULLANICILAR" tarafından "SITE" üzerindeki arayüzler kullanılmak suretiyle "OTOPARCABUL VERİTABANI" üzerinden sorgulanabilmesini ve "SITE" üzerinden "OTOPARCABUL"e ait arayüzler tarafından  görüntülenebilmesini temin etmektedir.</p>

<p>3.2. "OTOPARCABUL", "ÜYELİK SÖZLEŞMESİ"nde belirtilen ve ilgili hizmete ilişkin "SITE" içerisinde yapılan açıklamalar çerçevesinde "ÜYE"lerine;  ilanlarını yayımlama, sanal mağaza açma, ürün ve hizmetlerini satışa sunma, teklif alma ve verme, satışını gerçekleştirme, satış bedellerini tahsil etme, "KULLANICILAR" ve/veya "ÜYE"lerle çeşitli kanallar üzerinden (Örn. Kısa mesaj, elektronik posta, "SITE" dahilinde mesaj iletme v.b.) haberleşmede bulunma  gibi işlemleri "SITE" dahilinde yapabilecekleri ortamı sunmaktadır.</p>

<p>3.3. "OTOPARCABUL", "ÜYELİK SÖZLEŞMESİ"nde belirtilen ve ilgili hizmete ilişkin "SITE" içerisinde yapılan açıklamalar çerçevesinde "ÜYE"lerine "SITE" içerisinde "KULLANICILAR"ın "ÜYE"lerin ilanlarına daha kolay ulaşabilmelerini sağlamak üzere ilanların görüntülenmesini önceliklendiren çeşitli tiplerde listeleme hizmetleri vermektedir.</p>

<p>3.4.  "OTOPARCABUL", "ÜYE"lerin "SITE" dahilinde yayımladıkları ilanlara ve yaptıkları işlemlere ilişkin diğer "ÜYE"ler tarafından "SITE" üzerinden "OTOPARCABUL"e yöneltilecek yorum yapma ve profil puanı verme ayrıca "SITE" dahilinde gerçekleştirilen işlemlere ilişkin memnuniyetlerini bildirmeye yönelik iletişim kanallarını da "SITE" üzerinden "ÜYE"lerinin hizmetine sunmaktadır.</p>

<p>3.5. "OTOPARCABUL", "ÜYE"lerine "SITE" dahilinde gerçekleştirdiklere işlemlere, beğenilerini yönelik "SITE" içerisindeki hareketlere ve kendilerine ait olan ilanlara ilişkin diğer "ÜYE" ve "KULLANICI"ların görüntüleme sayılarına yönelik çeşitli kategoriler altında raporlama hizmetlerini sunmaktadır.</p>

<p>3.6. "OTOPARCABUL" tarafından verilen hizmetler yukarıdaki maddelerde belirtilenlerle sınırlı değildir. Yukarıda sayılan hizmetler "OTOPARCABUL" tarafından sunulan temel hizmetler olup bu hizmetlere yeni hizmetlerin eklenmesi, yukarıda belirtilen hizmetlerin kapsam ve sunulma koşullarının değiştirilmesi tamamen "OTOPARCABUL"in yetkisi dahilindedir. "OTOPARCABUL" bu yetkisini herhangi bir bildirimde bulunmadan tek taraflı olarak dilediği biçimde kullanabilir.</p>

<label>4. OTOPARCABUL SITEI KULLANIMINA İLİŞKİN KOŞULLAR VE YÜKÜMLÜLÜKLER</label>

<p>4.1. "KULLANICILAR" yalnızca hukuka uygun amaçlarla "SITE" üzerinde işlem yapabilirler. "KULLANICILAR"ın ve "ÜYE"lerin, "SITE" dahilinde yaptığı her işlem ve eylemdeki hukuki ve cezai sorumluluk kendilerine aittir.</p>

<p>4.2. "SITE", "ÜYE"ler tarafından "OTOPARCABUL VERİTABANI"na yüklenen "İÇERİK"lerin "KULLANICI"lar tarafından görüntülenmesi esasıyla çalışmaktadır. "OTOPARCABUL", "KULLANCI"lar tarafından görüntülenen "İÇERİK"lerin hiçbir koşulda doğruluğunu, güvenliğini ve hukuka uygunluğunu garanti etmemekte; bu "İÇERİK"ler dolayısıyla hiçbir sorumluluk üstlenmemektedir.</p>

<p>4.3.  "KULLANICI" "SITE" dahilinde bulunan her türlü resimleri, metinleri, görsel ve işitsel imgeleri, video klipleri, dosyaları, veritabanları, katalogları ve listeleri çoğaltmayacağı, kopyalamayacağı, dağıtmayacağı, işlemeyeceğini, gerek bu eylemleri ile gerekse de başka yollarla "OTOPARCABUL" ile doğrudan ve/veya dolaylı olarak rekabete girmeyeceğini kabul ve taahhüt etmektedir.</p>

<p>4.4. "SITE" dahilinde üçüncü kişiler tarafından sağlanan hizmetlerden; "ÜYE"ler tarafından  oluşturulan ilanlardan ve "İÇERİK"lerden dolayı "OTOPARCABUL"in, işbirliği içinde bulunduğu kurumların, "OTOPARCABUL" çalışanlarının, şubelerinin ve yöneticilerinin, "OTOPARCABUL" yetkili satıcılarının sorumluluğu bulunmamaktadır.</p>

<p>4.5. "KULLANICI"lar ve "ÜYE"ler, "OTOPARCABUL"e "SITE" dahilinde kendileri tarafından sağlanan bilgilerin ve içeriklerin doğru ve hukuka uygun olduğunu kabul ve taahhüt etmektedirler. "OTOPARCABUL", "KULLANICI"lar ve "ÜYE"ler tarafından "OTOPARCABUL"e iletilen veya "SITE" üzerinden kendileri tarafından yüklenen, değiştirilen ve sağlanan bilgilerin ve içeriklerin doğruluğunu araştırma; bu bilgi ve içeriklerin güvenli, doğru ve hukuka uygun olduğunu taahhüt ve garanti etmekle yükümlü ve sorumlu değildir.</p>

<p>4.6. "KULLANICI"lar ve "ÜYE"ler, "SITE" dahilinde Türk Ticaret Kanunu hükümleri uyarınca haksız rekabete yol açacak faaliyetlerde bulunmayacağını, "OTOPARCABUL"’in ve üçüncü kişilerin şahsi ve ticari itibarı sarsacak, kişilik haklarına tecavüz ve taarruz edecek fiilleri gerçekleştirmeyeceğini kabul ve taahhüt etmektedir.</p>

<p>4.7. "OTOPARCABUL", "SITE" dahilinde sunulan hizmetleri ve "SITE" dahilinde erişilen "İÇERİK"leri içerikleri her zaman değiştirebilme hakkını saklı tutmaktadır. "OTOPARCABUL", bu hakkını hiçbir bildirimde bulunmadan ve önel vermeden kullanabilir.</p>

<p>4.8. "KULLANICI"lar ve "ÜYE"ler, "OTOPARCABUL"in talep ettiği değişiklik ve/veya düzeltmeleri ivedi olarak yerine getirmek zorundadırlar. "OTOPARCABUL" tarafından talep edilen değişiklik ve/veya düzeltme istekleri gerekli görüldüğü takdirde "OTOPARCABUL" tarafından yapabilir. "OTOPARCABUL" tarafından talep edilen değişiklik ve/veya düzeltme taleplerinin, "KULLANICI"lar ve "ÜYE"ler tarafından zamanında yerine getirilmemesi sebebiyle doğan veya doğabilecek zararlar, hukuki ve cezai sorumluluklar tamamen talebin yöneltildiği "KULLANICI" veya "ÜYE"ye aittir.</p>

<p>4.9. "KULLANICI"lar, "SITE" dahilinde eriştikleri bilgileri yalnızca bu bilgileri ifşa eden eden "ÜYE" veya "OTOPARCABUL"in ifşa ettiği amaçlara uygun olarak kullanmakla yükümlüdür.</p>

<p>4.10. "OTOPARCABUL", 5651 Sayılı Yasa uyarınca "Yer Sağlayıcısı"dır ve bu konuda Telekomünikasyon Kurumu İletişim Başkanlığı’ndan ilgili emredici mevzuat uyarınca "Yer Sağlayıcı Faaliyet Belgesi" almıştır. "OTOPARCABUL", 5651 Sayılı Yasa ve ilgili mevzuat uyarınca "Yer Sağlayıcı"lara getirilen yükümlülüklere uymak amacıyla "KULLANICI"ların "SITE" üzerinde gerçekleştirdikleri işlemlere ilişkin ilgili mevzuatta belirtilen nitelikteki kayıtları yasal süresi içinde kayıt altına almakta ve saklamaktadır.</p>

<p>4.11. " OTOPARCABUL", 5651 Sayılı Yasa uyarınca "Yer Sağlayıcı" olması nedeniyle ilgili yasanın 5. Maddesinde belirtilen yükümlülüklere tam ve eksiksiz olarak uymakla mükelleftir.</p>

<p>4.12. "OTOPARCABUL", "SITE"’ üzerinden   "KULLANICILAR" veya "ÜYE"ler tarafından kendisine iletilen bilgileri "Gizlilik Politikası" ve "ÜYELİK SÖZLEŞME"leri hükümleri doğrultusunda kullanabilir, ifşa edebilir, bu bilgileri işleyebilir, paylaşabilir, bir veritabanı üzerinde tasnif edip muhafaza edebilir. "OTOPARCABUL" aynı zamanda; kullanıcı veya ziyaret edenin kimliği, adresi, elektronik posta adresi, telefonu, IP adresi, "SITE"nin hangi bölümlerini ziyaret ettiği, domain tipi, tarayıcı (browser) tipi, tarih ve saat gibi bilgileri de istatistiki değerlendirme ve kişiye yönelik hizmetler sunma gibi amaçlarla kullanabilir.</p>

<p>4.13. "SITE" üzerinden erişilen ve/veya görüntülenen içeriği elde etmek maksadıyla yoğun şekilde "OTOPARCABUL VERİTABANI"ndan bilgi çekmek yasaktır. Bu yasağa uymayarak "OTOPARCABUL VERİTABANI"ndan yoğun şekilde bilgi çeken kişiler T.C.K. Mad. 243 (1)’deki bilişim sistemine yetkisiz giriş yapmış olduğu varsayılarak OTOPARCABUL tarafından haklarında cezai kovuşturma başlatılacaktır.</p>

<p>4.14. "SITE" üzerinden erişilen ve/veya görüntülenen içeriğin depolandığı veritabanına yalnızca ilgili içeriklerin görüntülenmesi amacıyla ve/veya "OTOPARCABUL"in yazılı olarak izin verdiği kullanım koşulları çerçevesinde üçüncü kişilerce erişilmesi hukuka uygundur. Bunun dışındaki yapılan erişimler hukuka aykırı olup; "OTOPARCABUL’in gerekli talep, dava ve takip hakları saklıdır.</p>

<p>4.15. "SITE" üzerinden yayınlanan ilanların, "OTOPARCABUL ARAYÜZÜ"nün  "OTOPARCABUL"in yazılı rızası olmadan kopyalanması, çoğaltılması, iletilmesi, işlenmesi ve başka internet sitelerinde ve mecralarda görüntülenmesi yasaktır.</p>

<p>4.16. "SITE" üzerinden erişilen ve/veya görüntülenen her türlü "İÇERİK"in "OTOPARCABUL’in yazılı rızası olmadan üçüncü kişilerce "OTOPARCABUL sitesi dışında başta internet olmak üzere herhangi bir iletişim ortamında görüntülenmesi yasaktır.</p>

<p>4.17.  "SITE" üzerinden erişilen ve/veya görüntülenen ilanlarda yer alan kişisel veriler hiçbir koşul ve şart altında kişisel veri sahiplerinin ve "OTOPARCABUL"in yazılı izni dışında üçüncü kişilerce kullanılmaz, işlenemez, iletilemez, görüntülenemez ve ifşa edilemez.</p>

<p>4.18.  "OTOPARCABUL VERİTABANI" ve bu veri tabanında yer alan bilgiler kısmen veya tamamen OTOPARCABUL’in yazılı rızası olmadan kopyalanamaz, başka veritabanlarına aktarılmaz ve bu veritabanlarından üçüncü kişilerin erişimine ve kullanımına açılamaz.</p>

<label>5.    FİKRİ MÜLKİYET HAKLARI</label>

<p>Bu "SITE" dahilinde erişilen veya hukuka uygun olarak kullanıcılar tarafından sağlanan bilgiler ve bu "SITE"nin (sınırlı olmamak kaydıyla "OTOPARCABUL VERİTABANI", "OTOPARCABUL ARAYÜZÜ", tasarım, metin, imge, html kodu ve diğer kodlar) tüm elemanları (Hepsi birden "OTOPARCABUL"in telif haklarına tabi çalışmaları olarak anılacaktır) ""OTOPARCABUL"'e ait ve/veya  "OTOPARCABUL" tarafından üçüncü bir kişiden lisans altında alınmıştır. "KULLANICI"lar, "OTOPARCABUL" hizmetlerini, "OTOPARCABUL" bilgilerini ve ""OTOPARCABUL"’in telif haklarına tabi çalışmalarını yeniden satmak, işlemek, paylaşmak, dağıtmak, sergilemek veya başkasının "OTOPARCABUL"in hizmetlerine erişmesi veya kullanmasına izin vermek hakkına sahip  değildirler. İşbu "Site Kullanım Koşulları" dahilinde "OTOPARCABUL" tarafından sarahaten  izin verilen durumlar haricinde "OTOPARCABUL"in telif haklarına tabi çalışmalarını çoğaltamaz, işleyemez, dağıtamaz veya bunlardan türemiş çalışmalar yapamaz veya hazırlayamaz.</p>

<p>İşbu "SITE Kullanım Koşulları"  dahilinde "OTOPARCABUL" tarafından sarahaten yetki verilmediği hallerde "OTOPARCABUL"; "OTOPARCABUL" hizmetleri, "OTOPARCABUL" bilgileri, "OTOPARCABUL" telif haklarına tabi çalışmaları, "OTOPARCABUL" ticari markaları, "OTOPARCABUL" ticari görünümü veya bu site vasıtasıyla sağladığı başkaca varlık ve bilgilere yönelik tüm haklarını saklı tutmaktadır.</p>

<label>6.    SITE KULLANIM KOŞULLARINDA DEĞİŞİKLİKLER</label>

<p>"OTOPARCABUL", tamamen kendi takdirine bağlı olarak işbu "SITE  Kullanım Koşulları"nı herhangi bir zamanda "SITE"’da ilan ederek değiştirebilir. İşbu "SITE Kullanım Koşulları"nın değişen hükümleri, ilan edildikleri tarihte geçerlilik kazanacaktır. İşbu "SITE Kullanım Koşulları"  kullanıcının tek taraflı beyanları ile değiştirilemez.</p>

<label>7.    MÜCBİR SEBEPLER</label>

<p>Hukuken mücbir sebep sayılan tüm durumlarda, "OTOPARCABUL" işbu "SITE Kullanım Koşulları", gizlilik politikası ve "ÜYELİK SÖZLEŞME"sinden herhangi birini geç ifa etme veya ifa etmeme nedeniyle yükümlü değildir.  Bu ve bunun gibi durumlar, "OTOPARCABUL" açısından,  gecikme veya ifa etmeme veya temerrüt addedilmeyecek veya bu durumlar için "OTOPARCABUL"in herhangi bir tazminat yükümlülüğü doğmayacaktır.</p>

<p>"Mücbir sebep" terimi, ilgili tarafın makul kontrolü haricinde ve "OTOPARCABUL"in gerekli özeni göstermesine rağmen  önleyemediği olaylar olarak yorumlanacaktır. Bunun yanında sınırlı olmamak koşuluyla, doğal afet, isyan, savaş, grev, iletişim sorunları, altyapı ve internet arızaları, elektrik kesintisi ve kötü hava koşulları gibi durumlar mücbir sebep olaylarına dahildir.</p>

<label>8. UYGULANACAK HUKUK VE YETKİ</label>

<p>İşbu "SITE Kullanım Koşulları" uygulanmasında, yorumlanmasında ve bu "SITE Kullanım Koşulları"  dahilinde doğan hukuki ilişkilerin yönetiminde yabancılık unsuru bulunması durumunda Türk kanunlar ihtilafı kuralları hariç olmak üzere Türk Hukuku uygulanacaktır. İşbu sözleşmeden dolayı doğan veya doğabilecek her türlü ihtilafın hallinde İstanbul Mahkemeleri (Merkez) ve İcra Daireleri yetkilidir.</p>

<label>9. YÜRÜRLÜLÜK ve KABUL</label>

<p>İşbu "SITE Kullanım Koşulları"  "OTOPARCABUL" tarafından "SITE" içersinde ilan edildiği tarihte yürürlük kazanır. "KULLANICI"lar ve "ÜYE"ler, işbu sözleşme hükümlerini "SITE"yi kullanmakla kabul etmiş olmaktadırlar. ""OTOPARCABUL", dilediği zaman iş bu sözleşme hükümlerinde değişikliğe gidebilir ve değişiklikler versiyon numarası ve değişiklik tarihi belirtilerek "SITE" üzerinde yayınlandığı tarihte yürürlüğe girer.</p>